In [345]:
import pandas as pd
import numpy as np

In [346]:
# Reading the data
file = 'data_export.xlsx'
df = pd.read_excel(file, header = 0)
# ensuring that index values are numeric and not null
df = df[pd.to_numeric(df['GP'], errors='coerce').notnull()]

In [347]:
def setting_df_astype(df, cols, data_type):
    
    for col in cols:
        df[col] = df[col].astype(data_type)
    
    return df

In [348]:
# handling merged columns of excel
df['CPK'] = df['CPK'].astype('float').fillna(df['Unnamed: 5']).astype('float').fillna(df['Unnamed: 6']).astype('float')
df['WH RT PER UNIT'] = df['WH RT PER UNIT'].astype('float').fillna(df['Unnamed: 10']).astype('float')
df['VALUE'] = df['VALUE'].astype('float').fillna(df['Unnamed: 12']).astype('float').fillna(df['Unnamed: 13']).astype('float')

# dropping unnamed columns
df.drop(columns = ["Unnamed: 5", "Unnamed: 6", "Unnamed: 10", "Unnamed: 12", "Unnamed: 13"], inplace = True)

# dropping rows with nan values
df.dropna(axis = 0, inplace = True)

# cleaning the supplier and product names
df['SUP NAME'] = df['SUP NAME'].str.replace('\d+', '')
df['NOMEN'] = df['NOMEN'].str.replace('\d+', '')

df.head()

/var/folders/vp/yhfll2qd0fgc3wnbgyc1yhyr0000gp/T/ipykernel_16579/3070581631.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUP NAME'] = df['SUP NAME'].str.replace('\d+', '')
/var/folders/vp/yhfll2qd0fgc3wnbgyc1yhyr0000gp/T/ipykernel_16579/3070581631.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df['NOMEN'] = df['NOMEN'].str.replace('\d+', '')

,GP,GENRIC,SUP NAME,NOMEN,CPK,DT OF INTRO,TOTAL UNITS,WH RT PER UNIT,VALUE,PER VOL,PER VAL
0,1,1,M/S.LASER SHAVING (INDIA) PRIVATE LIMITED,LASER S/STEEL BLADE `S PKT,2000.0,1999-02-28 00:00:00,2238212,3.78,84.60,36.21,10.05
1,1,1,M/S.LASER SHAVING (INDIA) PRIVATE LIMITED,LASER ULTRA S-S BLADES (H-C OF BLA,2000.0,2007-11-06 00:00:00,1081524,4.67,50.51,17.5,6
2,1,1,M/S.SUPERMAX PERSONAL CARE PVT LTD.,+ FREE SUPERIOR QUALITY VIDYUT SU,1000.0,2021-12-10 00:00:00,0,13.50,0.00,0,0
3,1,1,"M/S.GILLETE INDIA LTD., ...",GILLETTE `O CLOCK SUPER PLATINUM BL,1200.0,1987-01-31 00:00:00,2862145,24.70,706.95,46.3,83.95
5,1,2,M/S.MODI MUNDI PHARMA BEAUTY PRODUC,STREET WEAR LIP LINER - CHUCK BERRY,96.0,2021-01-11 00:00:00,7561,128.58,9.72,38.17,38.17

In [349]:
columns = ['group_id', 'category_id', 'supplier', 'product', 'pieces_per_unit', 'date',
          'total_units', 'price_per_unit', 'sales_in_lakhs', 'volume_share', 'value_share']
# Column Data Types 
int_col = ['group_id', 'category_id', 'pieces_per_unit', 'total_units']
float_col = ['price_per_unit', 'sales_in_lakhs', 'volume_share', 'value_share']

In [350]:
df = df.rename(columns = {"GP":"group_id", "GENRIC": "category_id",
                         "SUP NAME" : "supplier", "NOMEN":"product", "CPK":"pieces_per_unit",
                         "DT OF INTRO":"date", "TOTAL UNITS":"total_units", "WH RT PER UNIT":"price_per_unit",
                         "VALUE":"sales_in_lakhs", "PER VOL":"volume_share", "PER VAL":"value_share"})

In [351]:
df_group7 = pd.read_excel("group7_sales.xlsx", header = 0)
df_group7 = df_group7[pd.to_numeric(df_group7['CODE'], errors='coerce').notnull()]
df_group7['GP'] = 7
df_group7.drop(columns = ['NAME','IND','BG'], inplace = True)
df_group7 = df_group7.rename(columns = {"GP":"group_id", "CODE": "category_id",
                         "SUP" : "supplier", "NOMEN":"product", "PCK":"pieces_per_unit",
                         "DT OF INT":"date", "SALES":"total_units", "RATE":"price_per_unit",
                         "VALUE":"sales_in_lakhs", "VOL %":"volume_share", "VAL%":"value_share"})
df_group7 = df_group7[columns]

In [352]:
sales_df = pd.concat([df, df_group7], ignore_index = True)

In [353]:
# Setting data types
sales_df['date'] =  pd.to_datetime(sales_df['date'])
sales_df = setting_df_astype(sales_df, int_col, 'int')
sales_df = setting_df_astype(sales_df, float_col, 'float')

In [358]:
sales_df.to_excel("2021-2022_Sales.xlsx", index = 0)